/* File generici che servono per tutto il sito */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 60px;
  display: flex;
}

.blank-space {
  flex-grow: 1;
}

.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 30px;
  transform: translateY(-60px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-title .title-label {
  padding: 7.5px 18px;
}

.section-title .title-label h3 {
  font-size: 19.2px;
}

/* File specifici per varie sezioni del mio sito */

nav {
  align-items: center;
  text-transform: uppercase;
}

nav .top-navbar {
  background-color: #0282f9;
  color: #ffff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .top-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .top-navbar ul li a {
  padding-left: 15px;
  color: #ffff;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

nav .top-navbar ul li a span {
  margin-left: 7.5px;
  display: inline-block;
}

nav .main-navbar {
  height: 90px;
  display: flex;
  align-items: center;
}

nav .main-navbar .links-box {
  flex-grow: 1;
}

nav .main-navbar .links-box ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .main-navbar .links-box ul li a {
  padding-left: 15px;
  color: black;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

nav .main-navbar .links-box ul li a:hover {
  color: #0282f9;
}

nav .main-navbar .links-box ul li a span {
  color: #0282f9;
  margin-left: 7.5px;
  display: inline-block;
}

nav .main-navbar .logo-box {
  height: 60px;
  width: 60px;
}

nav .main-navbar .logo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .main-navbar .searchbar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #0282f9;
}

nav .main-navbar .searchbar-box input {
  flex-grow: 1;
  background-color: none;
  border: none;
  font-family: "Barlow", sans-serif;
  color: black;
  text-align: end;
  padding-right: 15px;
}

nav .main-navbar .searchbar-box input:focus,
nav .main-navbar .searchbar-box input:active {
  outline: none;
}

nav .main-navbar .searchbar-box ::-webkit-input-placeholder {
  color: black;
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
}

.jumbotron {
  height: 300px;
  width: 100vw;
}

.jumbotron img.jumbotron-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-bg {
  background-color: black;
  padding: 45px;
  position: relative;
}

.section-bg .section-title .title-label {
  background-color: #0282f9;
  color: #ffff;
}

.section-bg .card-container {
  flex-wrap: wrap;
}

.section-bg .card-container .card {
  flex-basis: calc(100% / 6);
  height: 330px;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffff;
  text-transform: uppercase;
}

.section-bg .card-container .card .img-card-box {
  height: 250px;
  width: 100%;
}

.section-bg .card-container .card .img-card-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-bg .card-container .card .title-card {
  flex-grow: 1;
  padding: 7.5px;
}

