//spaziatura
$spacing: 15px;
//font
$font-family: 'Barlow', sans-serif;
$font-size: 16px;
$line-height: 1.5;
// border-radius
$b-radius: 8px;
// palette
$primary_blue: #0282f9;
$primary_white: #ffff;
$primary_gray: #7A7A7A;
$secondary_dark_gray: #303030;